<section class="cart">
  <section class="cart__item">
    <div class="cart__item_image cart__item_image-backpack"></div>
    <div class="cart__item__information">
      <h3 class="cart__item__name">Vintage Backbag</h3>
      <p class="cart__item__special-price">$54.99</p>
      <p class="cart__item__price">$94.99</p>
      <div class="cart__item__calc">
        <i class="material-icons cart__item__calc--decrease">remove</i>
        <span class="count">1</span>
        <i class="material-icons cart__item__calc--increase">add</i>
      </div>
    </div>

  </section>
</section>
