$special-price-font-size: 0.7rem;
$summary-title: 0.9rem;
$summary-price:0.7rem;
$summary-title-weight: 600;
$summary-price-weight: 500;
$image-width:5rem;
$image-height: 5rem;

.cart{
  background-color: #F2F2F2;
  width: 100%;
  height: fit-content;
  margin-top: 30%;
  position: relative;
}
.cart__item {
  padding: 1rem;
  display: flex;
}
.cart__item__name {
  //margin: 0 0 0.4rem 0;
  margin: 0rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: #4E5150;
}
.cart__item__information{
  margin: 0 1rem;
  position: relative;
}
.cart__item__special-price{
  color: #F2994A;
  font-size: $special-price-font-size;
  font-weight: 600;
}
.cart__item__price{
  font-size: $special-price-font-size/1.3;
  align-self: flex-start;
  margin-left: 0.5rem;
  text-decoration: line-through;
}

.cart__item__calc{
  border: 1px solid #828282;
  border-radius: 0.5rem;
  position: absolute;
  bottom: 0;
  width: 5rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.2rem;
}

.cart__item__calc--increase{
  justify-self: flex-end;
}
.cart__item__calc--decrease{
  justify-self: flex-start;
}
.cart__item_image{
  width: $image-width;
  height:  $image-width;
  background-position: center;
  background-size: cover;
  display: inline-block;
  border-radius: 1rem;
}
.cart__item_image-backpack{
  background-image: url("../../assets/61lN0Yrm-XL._AC_SL1001_.jpg");
}
.cart__item_image-shoes{
  background-image: url("../../assets/shoes.jpeg");
}

.cart__item__special-price{
  display: inline;
}
.cart__item__price{
  display: inline;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.count{
  font-size: 0.7rem;
  color: #333333;
}

.shipping{
  display: flex;
  justify-content: space-between;
  color: #333333;
  padding: 0 1rem;
}
.shipping__title{
  font-size: $summary-title;
  font-weight: $summary-title-weight;
}
.shipping__price{
  font-size: $summary-price;
  font-weight: $summary-price-weight;

}
.total{
  display: flex;
  justify-content: space-between;
  color: #333333;
  padding: 0 1rem;
}
.total__title{
  font-size: $summary-title;
  font-weight: $summary-title-weight;
}
.total__price{
  font-size: $summary-price;
  font-weight: $summary-price-weight;
}

.line{
  width: 90%;
  height: 1px;
  background-color: #BDBDBD;
  position: absolute;
  margin: 0 5%;
}

.space {
  margin: 20%;
}
