@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

$input-placeholder-font-size:0.6rem;
$label-font-size:0.5rem;
$label-color:#4F4F4F;
$section-title-color: #333333;
$section-title-size: 0.8rem;
$light-grey: #828282;
$b-radius:0.4rem;
$icon-padding:0.6rem;
$text-indent: 1rem;

*{
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

label{
  font-size: $label-font-size;
  color: $label-color;
  display: block;
  line-height: 1.2rem;
  font-weight: 600;
}

input{
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: $icon-padding;
  padding: $icon-padding 0  $icon-padding $icon-padding*2;
  display: block;
  width: 100%;
  border-radius: $b-radius;
  border: 1px solid $light-grey;
  text-indent: $text-indent;
  font-size: $input-placeholder-font-size * 1.2;
  font-weight: 500;


}
input::placeholder {
  font-size: $input-placeholder-font-size;
  font-weight: 500;
  text-indent: $text-indent;
  color: $light-grey;
}

.form-title{
  color: #4E5150;
  font-weight: bold;
  margin-bottom: 2rem;
}
.form__contact-information__title{
  color: $section-title-color;
  font-size: $section-title-size;
  margin: 0 0 0.8rem 0;
}
.form__shipping-address__title{
  color: $section-title-color;
  font-size: $section-title-size;
  margin: 3rem 0 0.8rem 0;
}

.form__contact-information__email{
  background-image: url("../assets/email.png");
}
.form__contact-information__phone{
  background-image: url("../assets/phone.png");
}
.form__shipping-address__full-name{
  background-image: url("../assets/account.png");
}
.form__shipping-address__address{
  background-image: url("../assets/home.png");
}
.form__shipping-address__city{
  background-image: url("../assets/city.png");
}
.form__shipping-address__country--input{
  background-image: url("../assets/earth.png");
}
.form__shipping-address__postal-code--input {
  background-image: url("../assets/briefcase.png");

}
.form__shipping-address__country{
  display: inline-block;
  width: 48%;

}
.form__shipping-address__postal-code{
  display: inline-block;
  width: 48%;
  margin-left: 4%;
}
.form__shipping-address__next-time{
  display: flex;
  min-height: 2rem;
}
.form__shipping-address__next-time_checkbox{
  width: 1rem;
  height: 1rem;
  align-self: center;
}
.form__shipping-address__next-time_label{
  align-self: center;
}
.button-submit{
  background: #F2994A;
  color: white;
  border-radius: $b-radius;
  padding: 0.5rem;
  border: none;
  display: block;
}

