@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

$input-placeholder-font-size:0.6rem;
$label-font-size:0.5rem;
$label-color:#4F4F4F;
$section-title-color: #333333;
$section-title-size: 0.8rem;
$light-grey: #828282;
$b-radius:0.4rem;
$icon-padding:0.6rem;
$text-indent: 1rem;

*{
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.header{
  grid-area: header;
}

label{
  font-size: $label-font-size;
  color: $label-color;
  display: block;
  line-height: 1.2rem;
  font-weight: 600;
}

input{
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: $icon-padding;
  padding: $icon-padding 0  $icon-padding $icon-padding*2;
  display: block;
  width: 100%;
  border-radius: $b-radius;
  border: 1px solid $light-grey;
  text-indent: $text-indent;
  font-size: $input-placeholder-font-size * 1.2;
  font-weight: 500;
  height: 2.5rem;

}
input::placeholder {
  font-size: $input-placeholder-font-size;
  font-weight: 500;
  text-indent: $text-indent;
  color: $light-grey;
}
.form{
  position: relative;
  grid-area: form;
}
.form-title{
  color: #4E5150;
  font-weight: bold;
  margin: 0;
}
.form__contact-information__title{
  color: $section-title-color;
  font-size: $section-title-size;
  margin: 0 0 0.8rem 0;
}
.form__shipping-address__title{
  color: $section-title-color;
  font-size: $section-title-size;
  margin: 3rem 0 0.8rem 0;
}

.form__contact-information__email{
  background-image: url("../assets/email.png");
}
.form__contact-information__phone{
  background-image: url("../assets/phone.png");
}
.form__shipping-address__full-name{
  background-image: url("../assets/account.png");
}
.form__shipping-address__address{
  background-image: url("../assets/home.png");
}
.form__shipping-address__city{
  background-image: url("../assets/city.png");
}
.form__shipping-address__country--input{
  background-image: url("../assets/earth.png");
}



select
{
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: $icon-padding;
  width: 100%;
  text-indent: $text-indent;
  height: 2.5rem;
  color: black;

  padding: $icon-padding 0  $icon-padding $icon-padding*2;
  display: block;
  border-radius: $b-radius;
  border: 1px solid $light-grey;
  font-weight: 500;
  font-size: $input-placeholder-font-size * 1.2;


  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}



select:optional{
  color: $light-grey;
  font-size: $input-placeholder-font-size

}

.form__shipping-address__postal-code--input {
  background-image: url("../assets/briefcase.png");

}
.form__shipping-address__country{
  display: inline-block;
  width: 48%;

}
.form__shipping-address__postal-code{
  display: inline-block;
  width: 48%;
  margin-left: 4%;
}
.form__shipping-address__next-time{
  display: flex;
  min-height: 2.5rem;
}
.form__shipping-address__next-time_checkbox{
  width: 1rem;
  height: 1rem;
  align-self: center;
}
.form__shipping-address__next-time_label{
  align-self: center;
  text-indent: 0.5rem;
}
.button-submit{
  background: #F2994A;
  color: white;
  border-radius: $b-radius;
  padding: 0.8rem 1.5rem;
  border: none;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;

}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr 1fr ;
  grid-template-areas:
  "header ."
  "form cart"
  "footer footer";
  padding: 0 10%;
  grid-column-gap: 15%;
}

.empty{
  height: 3rem;
}

@media only screen and (max-width: 800px) {
  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 2fr 2.5fr 0.1fr ;
    grid-template-areas:
    "header header"
    "cart cart"
    "form form"
    "footer footer";
    padding: 0 10%;
    grid-column-gap: unset;
    grid-row-gap: 2%;
  }
  .form-title{
    color: #4E5150;
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 2%;
    margin-bottom: 0;
  }
  .footer{
    align-self: center !important;
  }
}


/* arrows */

select.round {
  //background-image:
  //  linear-gradient(45deg, transparent 50%, gray 50%),
  //  linear-gradient(135deg, gray 50%, transparent 50%),
  //  radial-gradient(#ddd 70%, transparent 72%);
  //background-position:
  //  calc(100% - 20px) calc(1em + 2px),
  //  calc(100% - 15px) calc(1em + 2px),
  //  calc(100% - .5em) .5em;

  //background-repeat: no-repeat;
}

//select.round:focus {
//  background-image:
//    linear-gradient(45deg, white 50%, transparent 50%),
//    linear-gradient(135deg, transparent 50%, white 50%),
//    radial-gradient(gray 70%, transparent 72%);
//  background-position:
//    calc(100% - 15px) 1em,
//    calc(100% - 20px) 1em,
//    calc(100% - .5em) .5em;
//  background-size:
//    5px 5px,
//    5px 5px,
//    1.5em 1.5em;
//  background-repeat: no-repeat;
//  outline: 0;
//}


//select:-moz-focusring {
//  color: transparent;
//  text-shadow: 0 0 0 #000;
//}

.cart{
  grid-area: cart;
}

.footer{
  text-align: center;
  align-self: end;
  grid-area: footer;
  color: #A9A9A9;
  font-size: 0.6rem;
}
