<main class="form">
  <h1 class="form-title">Checkout</h1>
  <section class="form__contact-information">
  <h3 class="form__contact-information__title">Contact information</h3>
    <label>E-mail
      <input type="text" placeholder="Enter your email...">
    </label>
    <label>Phone
      <input type="text" placeholder="Enter your phone...">
    </label>
  </section>

  <section class="form__shipping-address">
    <h3 class="form__shipping-address__title">Shipping address</h3>
    <label>Full name
      <input type="text" placeholder="Your full name..">
    </label>
    <label>Address
      <input type="text" placeholder="Your address..">
    </label>
    <label>City
      <input type="text" placeholder="Your city..">
    </label>
    <label>Country
      <input type="text" placeholder="Your country..">
    </label>
    <label>Postal code
      <input type="text" placeholder="Your postal code..">
    </label>
    <label> Save this information for next time
      <input type="checkbox">
    </label>
    <button type="submit">Continue</button>
  </section>
</main>
<section class="cart">

</section>
